.Sidebar {
    position: fixed;
    height: 100vh;
    width: 10%;
    background-color: aqua;
    justify-content: center;
}

.sidebarItem{
    display: block;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 60px;
}

li svg {
    height : 32px;
    width:32px;
}