.mainContainer {
    display: flex;
    width: 74%;
    background-color: white;
    margin: 5vh 13% 0vh 13%;

}

.feedContainer {
    display: flex;
    width: 100%;
    background-color: #edeffa;
}

.feed {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #edeffa;
    border: 1px solid black;

}

.writeTweetContainer {
    width: 100%;
}



